body{
    font-family: 'Source Sans Pro', sans-serif;
    margin: 0;
}
h1, h2, h3, h4, h5, h6{
    font-family: 'Open Sans', sans-serif;
    font-weight: 400
}
h1{
    font-size: 40px;
    line-height: 1.5em;
    letter-spacing: -.2px;
    color: #FFFFFF;   
    /* text-transform: uppercase;
    text-decoration: underline; */
}
h1 strong{
    color: #026fff;
}
.portfolio{
    background:#fafafa;
}
.hero{
    height: 300px;
    background-image: url('../images/hero.jpg');
    background-size: 500px 300px; 
    background-repeat: no-repeat;
    background-position-x: right;
    background-color: #1b2127;
}
.project {
    /* border-color: red;
    border-width: 15px;
    border-style: solid; */
    border:1px solid gray;
    border-radius: 10px;
    margin: 10px;
    margin-bottom: 15px;
    padding: 20px;
    background: #ffffff;
    width: 500px;
    height: 500px;
    box-sizing: border-box;
}
.project-details{
    width: 500px;
    margin: 10px 20px;
}
.project-imageContainer{
    background-color: #FFFFFF;
}
.header{
    background-color: #1b2127;
    color: #FFFFFF;
}
.header a{
    color: #FFFFFF;
    text-decoration: none;
}



prueba